body {

	padding: 0;
	border: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	height: 100vh;

}

#left_slider {

	background: gray;
	position: absolute;
	display: flex;
	align-items: center;
	height: 100vh;
	width: 50vw;
	right: 50%;
	z-index: 12;

}

#right_slider {

	background: #202124;
	position: absolute;
	display: flex;
	align-items: center;
	height: 100vh;
	width: 50vw;
	left: 50%;
	z-index: 12;
}

#left_block {

	background: #202124;
	position: absolute;
	display: flex;
	align-items: center;
	left: 0;
	top: 0;
	height: 100vh;
	width: 50vw;
	z-index: 9;

}

#right_block {

	background: gray;
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	top: 0;
	height: 100vh;
	width: 50vw;
	z-index: 9;

}

#button_77 {

	position: absolute;
	height: 25%;
	width: 60%;
	right: 0%;
	background: transparent;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

}

#button_78 {

	position: absolute;
	height: 25%;
	width: 60%;
	left: 0%;
	background: transparent;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

}

#car_77 {

	position: absolute;
	width: 75%;
	height: 0px;
	right: 0;

}

#car_78 {

	position: absolute;
	width: 75%;
	height: 0px;
	left: 0;

}

#car_77_flip {

	position: absolute;
	width: 75%;
	height: 0px;
	left: 0;

}

#car_78_flip {

	position: absolute;
	width: 75%;
	height: 0px;
	right: 0;

}

img {

	height: 100%;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;

}

#title {

	position: relative;
	height: auto;
	width: 40%;
	z-index: 20;
	top: 0;
	left: 0;

}

#title .border {

	background: #ffffff;

}

.word_pixel_container {

    width: calc(100% - ((100% / 40) * 5));
    height: 0px;
    display: grid;
    grid-template-columns: repeat(8, calc(100% / 8));
    grid-template-rows: repeat(1, 100%);
    gap: calc(100% / 30);
    background: #transparent;

}

.letter_pixel_container {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-template-rows: repeat(5, calc(100% / 5));
    gap: 0;
    position: relative;

}

.pixel {

    width: 100%;
    height: 100%;
    background-color: transparent;
    display: block;

}

.pixel.color {

	background-color: transparent;

}

.word_pixel_spacer {

	width: 100%;
	height: 0px;

}